@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./common/style.scss";

html, body, #root {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0);
	color: white;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
